:root {
    --topbar-width: 50%;
    --pawnyn-gradient: linear-gradient(to right, rgb(255, 133, 96), rgb(255, 213, 96));
    --pawnyn-gradient-rotate: linear-gradient(to right, rgb(255, 213, 96), rgb(255, 133, 96));
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0; padding: 0;
}

::selection {
    background-color: rgb(255, 133, 96);
    color: rgb(255,255,255);
}

section#topbar {
    width: 100%;
    height: 60px;
    position: sticky;
    background: var(--pawnyn-gradient-rotate);
    display: flex;
}

.title-wrapper {
    width: var(--topbar-width);
    display: flex;
    align-items: center;
}

.nav-wrapper {
    width: var(--topbar-width);
}

#main-nav {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

#main-nav > a {
    display: flex;
    height: 100%;
    padding-left: 20px; 
    padding-right: 20px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    text-decoration: none;
    color: white;
    transition: text-shadow .3s ease-out;
}

#main-nav > a:hover {
    /* background-color: rgba(0,0,0,0.25); */
    transition: all .3s ease-out;
    text-shadow: 
        1px 1px 0px #000,
        2px 2px 0px #000;
}

.title-wrapper > h1 {
    position: relative;
    margin: 0; padding: 0;
    font-size: 23px;
    text-transform: uppercase;
    left: 15px;
    color: #ffffff;
    text-shadow: 
        1px 1px 0px #000,
        2px 2px 0px #000,
        3px 3px 0px #000,
        4px 4px 0px #000;
}

#mainframe {
    width: 100%;
    height: 44vh;
    background-color: rgb(197, 130, 30);
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background: url("https://f.0x0f.su/ZCrCxOjT1kSv1Hr_346110_20200130200818_1.png") no-repeat center center;
    background-size: cover;
}

#mainframe .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
}

#mainframe > h1 {
    font-size: 6vw;
    color: #FFFFFF;
    z-index: 10;

    text-shadow: 
        1px 1px 0px rgb(255, 133, 96),
        2px 2px 0px rgb(255, 133, 96),
        3px 3px 0px rgb(255, 133, 96),
        4px 4px 0px rgb(255, 133, 96),
        5px 5px 0px rgb(255, 133, 96),
        6px 6px 0px rgb(255, 133, 96);
}

.pwny-seperator {
    width: 100%;
    height: 9px;
    background: var(--pawnyn-gradient);
}

#overview {
    width: 100%;
    height: 400px;
    position: relative;
}

.row {
    display: flex;
    position: absolute;
    top: 50px;
    height: 100%;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.column {
    width: calc(100% / 6);
    padding: 0px 45px;
}

.column h1 {text-align: center; margin-bottom: 12px; margin-top: 12px;}
.column p {text-align: justify;}
.blocklevel {display: block!important;}
.text-center {text-align: center!important;}
.symbolsize-324x {font-size: 3.24em!important;}
mark {background: rgba(255, 133, 96,0.6); padding: 2px 3px;}

.noselect {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}